html {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 15%;
    right: 15%;
    
}

.main-paper-rounded {
    border-radius: 0px;
}

.navigation {
    width: 180px;
    display: flex; 
}

.main {
    display: flex;
    flex: auto;
}